.container{
    background-color: rgb(221, 220, 230);
    height: 100%;
}
.nav-baar{
    background-color: black;
    height: 50%;
    width: 100%;
}
.side-nav{
    background-color:sienna;
    height: 100%;
    width: 18%;
}