<p>forget-password works!</p>
<div class="body">
    <div class="form_content">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="Title">
                <h1 style="color: #3566b8;">F</h1>
                <h1 style="color: #34a853; margin-left: 0;">u</h1>
                <h1 style="color: #fabb05; margin-left: 0;">n</h1>
                <h1 style="color: #ea4335; margin-left: 0;">d</h1>
                <h1 style="color: #3566b8; margin-left: 0;">o</h1>
                <h1 style="color: #fabb05; margin-left: 0;">o</h1>
                <h1 style="color: #34a853; margin-left: 0;">N</h1>
                <h1 style="color: #ea4335; margin-left: 0;">o</h1>
                <h1 style="color: #34a853; margin-left: 0;">t</h1>
                <h1 style="color: #fabb05; margin-left: 0;">e</h1>
                <h1 style="color: #3566b8; margin-left: 0;">s</h1>
            </div>
            <div class="header">
                <span class="main-heading"><h3 >Find your email</h3></span>
                <span class="sub-heading"><h3>Enter your phone number or recovery email</h3></span>
            </div>
            <div class="Form" >
                    <mat-form-field appearance="outline" class="Email">
                    <mat-label>Phone number or email</mat-label>
                    <input matInput placeholder="Phone number or email"formControlName="email">
                    <mat-error *ngIf="registerForm.controls.email.errors">email is required !</mat-error>
                    </mat-form-field>
            </div>
            <div class="button">
                <button type="submit" mat-raised-button color="primary" style="background: #1a73e8;"><a  style="text-decoration: none;background: #1a73e8;color:white">Next</a></button>
            </div> 
        </form>
    </div>
</div>
