<p>reset-password works!</p>

<div class="body">
    <div class="form_content" >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
            <div class="Title">
                <h1 style="color: #3566b8;">F</h1>
                <h1 style="color: #34a853; margin-left: 0;">u</h1>
                <h1 style="color: #fabb05; margin-left: 0;">n</h1>
                <h1 style="color: #ea4335; margin-left: 0;">d</h1>
                <h1 style="color: #3566b8; margin-left: 0;">o</h1>
                <h1 style="color: #fabb05; margin-left: 0;">o</h1>
                <h1 style="color: #34a853; margin-left: 0;">N</h1>
                <h1 style="color: #ea4335; margin-left: 0;">o</h1>
                <h1 style="color: #34a853; margin-left: 0;">t</h1>
                <h1 style="color: #fabb05; margin-left: 0;">e</h1>
                <h1 style="color: #3566b8; margin-left: 0;">s</h1>
            </div>
            <div class="header">
                <span class="main-heading"><h3 >Reset Password</h3></span>
                <span class="sub-heading"><h3>Enter your new password</h3></span>
            </div>
            <div class="Form" >
                    <mat-form-field appearance="outline" class="password">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="New Password" formControlName="password">
                        <mat-error *ngIf="registerForm.controls.password.errors">Password is required !</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="password_new">
                        <mat-label>Confirm new password</mat-label>
                        <input matInput placeholder="confirm new password" formControlName="password_confirm">
                        <mat-error *ngIf="registerForm.controls.password_confirm.errors">Password is required !</mat-error>
                    </mat-form-field>
                
                <div class="button">
                    <button type="submit" mat-raised-button color="primary" style="background: #1a73e8; width: 70px;margin-right:0px;">Reset</button>
                </div> 
            </div>
        </form>
    </div>
</div>